<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <%= user.username %>
    <form action="/post" method="POST">
        <input type="text" name="tweet">
        <button type="submit">post</button>
    </form>

    <% your_posts.forEach(post => { %>
        <div class="post">
            <strong><%= post.user %></strong>
            <%= post.content %>
            <%= post.likes %>
            <%= post.reposts %>
        </div>
    <% }) %>
</body>
</html>